<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ai.remi.boot.infra.mapper.UserMapper">
    
    <select id="listPage" parameterType="ai.remi.boot.domain.query.UserQuery"
        resultType="ai.remi.boot.domain.vo.UserVO">
        select
        <if test="item.deptName != null and item.deptName != ''">
            d.id as dept_id,
            d.dept_name,
        </if>
        <if test="item.postName != null and item.postName != ''">
            p.id as post_id,
            p.post_name,
        </if>
        <if test="item.roleName != null and item.roleName != ''">
            r.id as role_id,
            r.role_name,
        </if>
        u.*
        from
        <if test="item.deptName != null and item.deptName != ''">
            sd_dept d,
            sd_user_dept ud,
        </if>
        <if test="item.postName != null and item.postName != ''">
            sd_post P,
            sd_user_post up,
        </if>
        <if test="item.roleName != null and item.roleName != ''">
            sd_role r,
            sd_user_role ur,
        </if>
        sd_user u
        <where>
            <if test="item.userCode != null and item.userCode != ''">
                and u.user_code = #{item.userCode}
            </if>
            <if test="item.userName != null and item.userName != ''">
                and u.user_name = #{item.userName}
            </if>
            <if test="item.status != null and item.status != ''">
                and u.status = #{item.status}
            </if>
            <if test="item.deptName != null and item.deptName != ''">
                and u.id = ud.user_id
                and ud.dept_id = d.id
                and d.dept_name = #{item.deptName}
            </if>
            <if test="item.postName != null and item.postName != ''">
                and u.id = up.user_id
                and up.post_id = p.id
                and p.post_name = #{item.postName}
            </if>
            <if test="item.roleName != null and item.roleName != ''">
                and u.id = ur.user_id
                and ur.role_id = r.id
                and r.role_name = #{item.roleName}
            </if>
        </where>
    </select>
    
    <select id="countPage" parameterType="ai.remi.boot.domain.query.UserQuery" resultType="int">
        select
        count(0)
        from
        <if test="item.deptName != null and item.deptName != ''">
            sd_dept d,
            sd_user_dept ud,
        </if>
        <if test="item.postName != null and item.postName != ''">
            sd_post P,
            sd_user_post up,
        </if>
        <if test="item.roleName != null and item.roleName != ''">
            sd_role r,
            sd_user_role ur,
        </if>
        sd_user u
        <where>
            <if test="item.userCode != null and item.userCode != ''">
                and u.user_code = #{item.userCode}
            </if>
            <if test="item.userName != null and item.userName != ''">
                and u.user_name = #{item.userName}
            </if>
            <if test="item.status != null and item.status != ''">
                and u.status = #{item.status}
            </if>
            <if test="item.deptName != null and item.deptName != ''">
                and u.id = ud.user_id
                and ud.dept_id = d.id
                and d.dept_name = #{item.deptName}
            </if>
            <if test="item.postName != null and item.postName != ''">
                and u.id = up.user_id
                and up.post_id = p.id
                and p.post_name = #{item.postName}
            </if>
            <if test="item.roleName != null and item.roleName != ''">
                and u.id = ur.user_id
                and ur.role_id = r.id
                and r.role_name = #{item.roleName}
            </if>
        </where>
    </select>


</mapper>

